root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{md,adoc,asciidoc}]
max_line_length = off

[*.properties]
# Set to true to preserve blank lines during reformatting
ij_properties_keep_blank_lines = true

[*.{json,jsonc,yml,yaml}]
indent_size = 2
ij_yaml_spaces_within_braces = false
ij_yaml_spaces_within_brackets = false

[*.csv]
indent_style = tab
